/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* Variables */
:root {
	--max-width: 25.75rem;
	--fs: 0.9375rem;
	--ff: 'Overpass', sans-serif;

	--clr-primary: hsl(25, 97%, 53%);

	--clr-secondary: hsl(213, 19%, 18%);
	--clr-secondary-darker: hsl(216, 12%, 8%);

	--clr-neutral-lightest: hsl(0, 0%, 100%);
	--clr-neutral-lighter: hsl(217, 12%, 63%);
	--clr-neutral: hsl(216, 12%, 54%);
}

/* Resets */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input {
	font-family: inherit;
	font-size: inherit;
}

img {
	max-width: 100%;
	display: block;
}

/* Body Styling */
body {
	font-family: var(--ff);
	font-size: var(--fs);
	background-color: var(--clr-secondary-darker);
	color: var(--clr-neutral-lighter);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-inline: 1.5rem;
	line-height: 1.5;
}
